@model List<PizzaViewModel>
<h1 class="my-2">Create new Menu variant</h1>
<hr class="my-5"/>

<div class="container">
    <form asp-controller="Menu" asp-action="CreateMenu" method="post">
        <div class="row">
            <table class="table table-striped table-dark">
                <tr>
                    <th scope="col"> <b>#Position In Menu#</b> </th>
                    <th scope="col"> <b>Pizza</b> </th>
                </tr>
                @{
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>
                                <select asp-for="@Model[i].Id">
                                    <option value="-1" selected>-----</option>
                                    @{
                                        for (int ii = 0; ii < Model.Count(); ii++)
                                        {
                                            <option value="@Model[ii].Id">@Model[ ii ].PizzaName</option>
                                        }
                                    }
                                </select>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>

        <div class="row">
            <div class="input-group mb-3">
                <span class="input-group-text">Enter Menu name: </span>
                <input type="text" asp-for="@Model[0].PizzaName" placeholder="Enter Menu name here" class="form-control" required />
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-success my-2">Create Menu</button>
        </div>
    </form>
</div>
