@model List<AcceptedOrderModel>
<h3>Accepted orders</h3>
<p>This is page for seeing restaurant accepted orders~~</p>
@{
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

<h6>Add "Done" and "Refresh" buttons!</h6>
<div class="container line-container">
    <hr />
</div>

<div class="container panel">
    <div class="row ">

        <table class="table table-striped table-dark" id="data-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Orderer Name</th>
                    <th scope="col">Order Items</th>
                    <th scope="col" class="text-success"><b>Done</b></th>
                </tr>
            </thead>
            <tbody id="data-table-body">
                @foreach (var item in Model)
                {
                    <tr>
                        <td> @item.OrderData.Id </td>
                        <td> @item.OrderData.OrderMakerName </td>
                        <td class="text-start">
                            @for (int i = 0; i < item.OrderedPizzas.Count(); i++)
                            {
                                if (item.OrderedPizzas[ i ].Pizza.IsCustomPizza == true)
                                {
                                    <p class="fw-bold">
                                        @item.OrderedPizzas[ i ].Pizza.PizzaName
                                        (
                                        @for (int ii = 0; ii < item.OrderedPizzas[ i ].PizzaIngridients.Count(); ii++)
                                        {
                                            if (ii + 1 == item.OrderedPizzas[ i ].PizzaIngridients.Count())
                                            {
                                                <span>
                                                    @item.OrderedPizzas[ i ].PizzaIngridients[ ii ].IngridientName
                                                </span>
                                            }
                                            else
                                            {
                                                <span>
                                                    @item.OrderedPizzas[ i ].PizzaIngridients[ ii ].IngridientName,
                                                </span>
                                            }
                                        }
                                        )
                                    </p>
                                }
                                else
                                {
                                    <p> @item.OrderedPizzas[ i ].Pizza.PizzaName </p>
                                }
                            }
                        </td>
                        <td>
                            <form asp-controller="Orders" asp-action="OrderReady" method="post">
                                <input name="orderId" value="@item.OrderData.Id" type="number" hidden>
                                <button type="submit" class="btn btn-success">Confirm</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    var goBackForm = document.getElementById("form");
    var dataTable = document.getElementById("data-table");
    var dataTableBody = document.getElementById("data-table-body");

    setInterval(function () {
        $.ajax({
            url: '/Orders/GetAcceptedOrders',
            type: 'post',
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var newTable = "";
                // dataTableBody.innerHTML = "";

                data.forEach(order => {
                    console.log(order);
                    newTable += `
                                        <tr>
                                            <td>${order.orderId}</td>
                                            <td>${order.ordererName}</td>
                                            <td class="text-start">${order.pizzaText}</td>
                                            <td>
                                                <form action="/Orders/OrderReady" method="post">
                                                    <input name="orderId" type="number" value="${order.orderId}" hidden>
                                                    <button type="submit" class="btn btn-success">Confirm</button>
                                                </form>
                                            </td>

                                        </tr>
                                        `;
                });

                dataTableBody.innerHTML = newTable;
            },
            error: function (data) {
                count++;
                if (count > 20) {
                    alert("Something went wrong...")
                    count = 0;
                }
            }
        });
    }, 10000);
    

</script>