@model List<ItemListHolderModel<PizzaViewModel, IngridientViewModel>>

@{
    //Layout is avalible fo displaying shared views
    if((int)TempData["privilages"] == 1){
        Layout = "~/Views/Shared/_WorkerLayout.cshtml";
    } else {
        Layout = "~/Views/Shared/Logo.cshtml";
    }
    
}

<div class="text-center container">

    <h3 class="text-special main-quote">Something more than just a pizz@@~</h3>
    <form asp-controller="Home" asp-action="Order" method="post" class="my-4">
        <div id="cart-container">
            <!--Place for pizzas added via JS QQ-->
        </div>
        <span id="order-count"> 0 </span>
        <button type="submit" class="icon-container"> 
            <img id="shopping-cart-icon" src="~/images/ShoppingCart.png"/>
        </button>
    </form>
</div>


<div class="container line-container">
    <hr />
</div>


<div class="container menu-container">
    <div class="row text-center">

        <div class="row">
            <div class="col-12 pizza-container-header text-center text-special" id="pizza-header-container">
                <span>Create your own custom pizza!</span>
            </div>

            <div class="col-9">
                !!! Put ingridients here !!!
            </div>

            <div class="col-3">
                <button id="add-custom-pizza-btn">Add my pizza to the cart</button>
            </div>
        </div>

        @foreach(var item in Model){
            <div class="row pizza-container">

                <div class="col-12 pizza-container-header text-center text-special" id="pizza-header-container">
                    <span>@item.ItemA.PizzaName</span>
                </div>

                <div class="col-5 pizza-image" id="pizza-img-container" name="pizza-image-container">
                    @for (int i = 0; i < item.ItemsB.Count(); i++)
                    {
                        <img src="@Url.Content($"~/images/Ingridients/{item.ItemsB[i].IngridientName}.png")"
                             class="img-fluid rounded-top"
                             id="img1"
                             style="z-index: @item.ItemsB[i].ImagePriority;"
                             alt="" />
                    }
                    @* <img src="~/images/AvalibleMenu/Pizza.png" class="img-fluid" alt="Responsive image"> *@
                </div>

                <div class="col-4 pizza-ingridients">
                    @for (int i = 0; i < item.ItemsB.Count(); i++)
                    {
                        if (i + 1 == item.ItemsB.Count())
                        {
                            <span>@item.ItemsB[ i ].IngridientName</span>
                        }
                        else
                        {
                            <span>@item.ItemsB[ i ].IngridientName, </span>
                        }
                    }
                </div>

                <div class="col-3 pizza-buttons">
                    <div class="row">
                        <div class="col-12">
                            <span>@item.ItemA.PizzaPrice PLN</span>
                        </div>
                        <div class="col-12" name="data-container">
                            <input type="number" value="@item.ItemA.Id" id="data" hidden>
                            <input type="text" value="@item.ItemA.PizzaName" id="data-name" hidden>
                            <button class="btn btn-primary" id="add-to-cart-btn">Add to cart!</button>
                        </div>
                    </div>
                    
                </div>

            </div>
        }
    </div>
</div>

<script type="text/javascript" defer>
    //----------- BEGIN Shopcart_Script -----------
    var cartContainer = document.getElementById("cart-container");
    var dataContainer = document.getElementsByName("data-container");
    var orderCount = document.getElementById("order-count");
    var cartSizeCount = 0;

    dataContainer.forEach((container, index) => {
        var btn = container.querySelector("#add-to-cart-btn");
        var data = container.querySelector("#data");
        var pizzaName = container.querySelector("#data-name");

        btn.addEventListener("click", (index) => {
            var id = data.value;
            var name = pizzaName.value;

            var newInput = "";

            newInput = `<input type="number" name="Model[${cartSizeCount}].Id" value="${id}" id="data" hidden>`;

            cartContainer.innerHTML += newInput;
            
            cartSizeCount++;

            //Show alert with success message
            swal({
                icon: "success",
                title: "Success",
                text: `Succesfully added ${name} to the cart!`
            });
            
            //Refresh order count
            orderCount.innerHTML = `${cartSizeCount} - `;
        });
    });
    //----------- END Shopcart_Script -----------
    
    //----------- BEGIN Pizza_Creation -----------
    let imageContainer = document.getElementsByName("pizza-image-container");

    let leftPosition = 0;
    let topPosition = 0;
    let zPosition = 1;

    console.log("images count: " + imageContainer.length);

    if (document.readyState) {
        imageContainer.forEach(container => {
            let containerRect = container.getBoundingClientRect();
            let containerHeight = containerRect.bottom - containerRect.top;
            console.log("imageContainer.style.left: " + containerRect.left);

            let images = container.querySelectorAll("img");

            images.forEach(image => {
                if (zPosition == 1) {
                    var imageRect = image.getBoundingClientRect();
                    console.log("imageRect.left: " + imageRect.left);

                    leftPosition = containerRect.left;
                    topPosition = containerRect.top;
                    image.style = `height:${containerHeight}px;`;

                    image.style = `position:absolute; left:${leftPosition}; top:${topPosition}; height:${containerHeight}px;`;
                    image.style.zIndex = zPosition;
                } else {
                    image.style = `position:absolute; left:${leftPosition}; top:${topPosition}; height:${containerHeight}px;`;
                    image.style.zIndex = zPosition;
                }
                console.log("Image: " + zPosition);
                zPosition++;
            });
        });
    }
    //----------- END Pizza_Creation -----------
</script>
